*{
  margin-right: 20px;
  margin-left: 20px;
  font-family: 'CMU Serif', serif;
  font-size: 15;
}

/* title */
.main{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 40px;
  font-style: Bold;
}

.line1{
  height: 3px;
  background: #a6a6a6;
  margin-bottom: 2px;
  margin: 0 auto;
}

.line2{
  height: 1px;
  background: black;
  margin: 0 auto;
}


.big_line1{
  height: 3px;
  background: #a6a6a6;
  margin-bottom: 2px;
}

.big_line2{
  height: 1px;
  background: black;
}

/* navegation bar */
.navitem {
  float: left;
  display: block;
  margin-top: 2px;
  color: black;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

#navbar a{
  font-size: 20px;
  color: black;
  text-decoration: none;
}

/* body with text */

.intext{
  float: left;
}

.col{
  margin-top: 30px;
}

.col a {
  color: black;
  text-decoration: none;
  font-size: 17px;
}
.col div {
  margin: 10px;
}

.col-8 {
  margin-top: 60px;
}

.col-8 h1{
  font-size: 65px;
}

.col-8 h2{
  margin-top: 5px;
}

/* Background */
.div_background{
  margin: 15px; 
  width: 550px; 
  height: 220px; 
  background-color: white;
}

.list_background{
  list-style-type: none; 
  font-size: 19px;
  list-style-position:inside;
  margin:0;
  padding:0; 
}

.link_doc {
  color: black;
  text-decoration: underline;
  padding: 0px;
}